In [2]:
import findspark
findspark.init()
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('interview questions').getOrCreate()

In [8]:
spark

In [46]:
data  = [
    [1,'nithya','menon'],
    [2,'akansha','bhargawa'],
    [3,'manisha','sati']
]
columns=(['ser_no','firstname','lastname'])
newdf = spark.createDataFrame(data,columns)

In [47]:
data2 =  [
    [1,'roman','regin'],
    [2,'cm','punk'],
    [3,'pooja','hedge']
]
columns2 = ['ser_no','firstname','lastname']
newdf2 = spark.createDataFrame(data2,columns2)

In [49]:
newdf.show()
newdf2.show()

newdf.union(newdf2)

+------+---------+--------+
|ser_no|firstname|lastname|
+------+---------+--------+
|     1|   nithya|   menon|
|     2|  akansha|bhargawa|
|     3|  manisha|    sati|
+------+---------+--------+

+------+---------+--------+
|ser_no|firstname|lastname|
+------+---------+--------+
|     1|    roman|   regin|
|     2|       cm|    punk|
|     3|    pooja|   hedge|
+------+---------+--------+

DataFrame[ser_no: bigint, firstname: string, lastname: string]

In [50]:
newuniondf = newdf.union(newdf2)
newuniondf.show()

+------+---------+--------+
|ser_no|firstname|lastname|
+------+---------+--------+
|     1|   nithya|   menon|
|     2|  akansha|bhargawa|
|     3|  manisha|    sati|
|     1|    roman|   regin|
|     2|       cm|    punk|
|     3|    pooja|   hedge|
+------+---------+--------+

In [11]:
text_file = spark.sparkContext.textFile("C:/Users/W10/Desktop/sparkTxt/onemillion.txt")

In [13]:
text_file.collect()

['Hi i am prathmesh futane trying to learn apache spark.',
 'apache spark is good big data processing framework.']

In [28]:
x2 = text_file.flatMap(lambda line: line.split(" ")) \
                            .map(lambda word: (word, 1)) \
                           .reduceByKey(lambda x, y: x + y)

In [30]:
s3 = text_file.flatMap(lambda line: line.split(" "))

In [37]:
s4 = text_file.flatMap(lambda line: line.split(" "))\
                .map(lambda word: (word,1))\
                .reduceByKey(lambda x,y:x+y)
s4.collect()

[('Hi', 1),
 ('i', 1),
 ('am', 1),
 ('prathmesh', 1),
 ('trying', 1),
 ('spark.', 1),
 ('is', 1),
 ('good', 1),
 ('futane', 1),
 ('to', 1),
 ('learn', 1),
 ('apache', 2),
 ('spark', 1),
 ('big', 1),
 ('data', 1),
 ('processing', 1),
 ('framework.', 1)]