In [1]:
import findspark
findspark.init()

In [2]:
print(findspark)

<module 'findspark' from 'C:\\Users\\W10\\AppData\\Local\\Programs\\Python\\Python310\\lib\\site-packages\\findspark.py'>

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName('hai').getOrCreate()

In [41]:
df = spark.read \
            .option('header',True) \
            .option('inferSchema',True) \
            .csv("C:/Users/W10/Desktop/sparkTxt/annual-csv.csv")

In [42]:
df.show(5,truncate=True, vertical=False)

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|Year|Industry_aggregation_NZSIOC|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category|  Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|733,258|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|660,630|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H05|Interest, dividen...|Financial perform...| 54,342|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H07|Non-operating income|Financial perform...| 18,285|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H08|   Total expenditure|Financial perform...|654,872|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
only showing top 5 rows

In [43]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Industry_aggregation_NZSIOC: string (nullable = true)
 |-- Industry_code_NZSIOC: string (nullable = true)
 |-- Industry_name_NZSIOC: string (nullable = true)
 |-- Units: string (nullable = true)
 |-- Variable_code: string (nullable = true)
 |-- Variable_name: string (nullable = true)
 |-- Variable_category: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Industry_code_ANZSIC06: string (nullable = true)

In [44]:
from pyspark.sql.types import *

In [48]:
schema = StructType(
[ \
    StructField("Year", IntegerType(), True), \
    StructField("Industry_aggregation_NZSIOC", StringType(), True), \
    StructField("chaddi baniyan", StringType(), True), \
    StructField("Industry_name_NZSIOC", StringType(), True), \
    StructField("Units", StringType(), True), \
    StructField("Variable_code", StringType(), True), \
    StructField("Variable_name", StringType(), True), \
    StructField("Variable_category", StringType(), True), \
    StructField("Value", StringType(), True), \
    StructField("Industry_code_ANZSIC06", StringType(), True)
]
)

In [49]:
df2 = spark.read.csv('C:/Users/W10/Desktop/sparkTxt/annual-csv.csv', schema=schema)

In [51]:
df2.show(2)

+----+---------------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+----------------------+
|Year|Industry_aggregation_NZSIOC|      chaddi baniyan|Industry_name_NZSIOC|             Units|Variable_code|Variable_name|   Variable_category|  Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+----------------------+
|null|       Industry_aggregat...|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|Variable_name|   Variable_category|  Value|  Industry_code_ANZ...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H01| Total income|Financial perform...|733,258|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+-------------+--------------------+-------+----------------------+
only showing top 2 rows

In [61]:
df2.write.format('csv').mode('Overwrite').option('maxRecordsPerFile',500).option('path','output').save()

In [62]:
df2.count()

37081

In [71]:
 df2.registerTempTable("dfTable")

In [73]:
spark.sql('select * from dfTable').show(5)
spark.sql('show databases').show()
# spark.sql('create database testing')
df2.createOrReplaceTempView('permTabledf')

+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|Year|Industry_aggregation_NZSIOC|      chaddi baniyan|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category|  Value|Industry_code_ANZSIC06|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
|null|       Industry_aggregat...|Industry_code_NZSIOC|Industry_name_NZSIOC|             Units|Variable_code|       Variable_name|   Variable_category|  Value|  Industry_code_ANZ...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H01|        Total income|Financial perform...|733,258|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H04|Sales, government...|Financial perform...|660,630|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H05|Interest, dividen...|Financial perform...| 54,342|  ANZSIC06 division...|
|2020|                    Level 1|               99999|      All industries|Dollars (millions)|          H07|Non-operating income|Financial perform...| 18,285|  ANZSIC06 division...|
+----+---------------------------+--------------------+--------------------+------------------+-------------+--------------------+--------------------+-------+----------------------+
only showing top 5 rows

+---------+
|namespace|
+---------+
|  default|
|  testing|
+---------+

In [112]:
import json
import requests

jsondata = requests.request('GET','https://jsonplaceholder.typicode.com/todos/')
# print(jsondata.json())
j = (jsondata.json())
print(type(j))

file = open('C:/Users/W10/Desktop/sparkTxt/testing.json','a')
for r in j:
    file.write(str(r))

<class 'list'>

In [141]:
rdd = spark.sparkContext.parallelize(["Project Gutenberg’s",
        "Alice’s Adventures in Wonderland",
        "Project Gutenberg’s",
        "Adventures in Wonderland",
        "Project Gutenberg’s"])

In [142]:
rdd.collect()

['Project Gutenberg’s',
 'Alice’s Adventures in Wonderland',
 'Project Gutenberg’s',
 'Adventures in Wonderland',
 'Project Gutenberg’s']

In [143]:
rdd2 = rdd.flatMap(lambda x : x.split(" ")).map(lambda x : (x,1)).reduceByKey(lambda x,y : x+y)

In [144]:
rdd2.collect()

[('Gutenberg’s', 3),
 ('Alice’s', 1),
 ('in', 2),
 ('Adventures', 2),
 ('Wonderland', 2),
 ('Project', 3)]

In [187]:
datardd = spark.sparkContext.textFile('C:/Users/W10/Desktop/sparkTxt/spark.txt')

In [188]:
datardd.collect()

['spark spark spark spark spark spark spark spark spark spark',
 'spark spark spark spark spark spark',
 'spark spark spark spark spark spark spark',
 'spark',
 'spark spark spark',
 'spark spark spark spark']

In [189]:
r2 = datardd.map(lambda x : x.split(' '))
r2.collect()

[['spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark'],
 ['spark', 'spark', 'spark', 'spark', 'spark', 'spark'],
 ['spark', 'spark', 'spark', 'spark', 'spark', 'spark', 'spark'],
 ['spark'],
 ['spark', 'spark', 'spark'],
 ['spark', 'spark', 'spark', 'spark']]

In [190]:
listt=r2.map(lambda x : len(x)).collect()
maxele=max(listt)
print(maxele)

# def x= ['spark', 'spark', 'spark', 'spark', 'spark', 'spark']

def addElements(x):
    for i in range(maxele):
        if len(x) != maxele:
            x.append('nodata')
        else:
            break
    return x
            
r3 = r2.map(lambda x : addElements(x))

10

In [191]:
r3.collect()

[['spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark'],
 ['spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'nodata',
  'nodata',
  'nodata',
  'nodata'],
 ['spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'spark',
  'nodata',
  'nodata',
  'nodata'],
 ['spark',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata'],
 ['spark',
  'spark',
  'spark',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata'],
 ['spark',
  'spark',
  'spark',
  'spark',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata',
  'nodata']]

In [192]:
df=r3.toDF()

In [193]:
df.show()

+-----+------+------+------+------+------+------+------+------+------+
|   _1|    _2|    _3|    _4|    _5|    _6|    _7|    _8|    _9|   _10|
+-----+------+------+------+------+------+------+------+------+------+
|spark| spark| spark| spark| spark| spark| spark| spark| spark| spark|
|spark| spark| spark| spark| spark| spark|nodata|nodata|nodata|nodata|
|spark| spark| spark| spark| spark| spark| spark|nodata|nodata|nodata|
|spark|nodata|nodata|nodata|nodata|nodata|nodata|nodata|nodata|nodata|
|spark| spark| spark|nodata|nodata|nodata|nodata|nodata|nodata|nodata|
|spark| spark| spark| spark|nodata|nodata|nodata|nodata|nodata|nodata|
+-----+------+------+------+------+------+------+------+------+------+

In [253]:
dfnew = spark.read \
                .option('header',True) \
                .csv('C:/Users/W10/Desktop/sparkTxt/rating2.csv')

In [254]:
dfnew.show()

+------+-------+------+----------+---------+
|userId|movieId|rating| timestamp|ratingStr|
+------+-------+------+----------+---------+
|     1|     39|   2.6|1260759144|      one|
|     1|     38|   2.7|      null|      two|
|     1|   null|   2.7|1260759140|    three|
|  null|     36|   3.8|1260759149|     null|
|     1|     35|   4.9|1260759148|     five|
|     1|   null|     5|      null|     null|
|  null|     33|   3.1|1260759146|    seven|
|     1|     32|  null|1260759145|    eight|
+------+-------+------+----------+---------+

In [255]:
from pyspark.sql.functions import *
from pyspark.sql.types import *

dfnew = dfnew.na.drop()
# dfnew.show()

def f2(x):
    return x*x

spark.udf.register('myfunc',f2,IntegerType())
myfunc = udf(f2,IntegerType())

In [256]:

def convertCase(str):
    resStr=""
    arr = str.split(" ")
    for x in arr:
       resStr= resStr + x[0:1].upper() + x[1:len(x)] + " "
    return resStr

convertUDF = udf(lambda z: convertCase(z),StringType())
convertUDF = udf(lambda z: convertCase(z))

In [257]:
dfnew = dfnew.withColumn('katainewtimestamp',current_date())

In [258]:
dfnew.show()

+------+-------+------+----------+---------+-----------------+
|userId|movieId|rating| timestamp|ratingStr|katainewtimestamp|
+------+-------+------+----------+---------+-----------------+
|     1|     39|   2.6|1260759144|      one|       2022-09-25|
|     1|     35|   4.9|1260759148|     five|       2022-09-25|
+------+-------+------+----------+---------+-----------------+

In [261]:
r3.toDebugString()

b'(2) PythonRDD[248] at collect at C:\\Users\\W10\\AppData\\Local\\Temp\\ipykernel_11192\\1450628862.py:1 []\n |  C:/Users/W10/Desktop/sparkTxt/spark.txt MapPartitionsRDD[245] at textFile at NativeMethodAccessorImpl.java:0 []\n |  C:/Users/W10/Desktop/sparkTxt/spark.txt HadoopRDD[244] at textFile at NativeMethodAccessorImpl.java:0 []'

In [260]:
dfnew.explain()

== Physical Plan ==
*(1) Project [userId#2581, movieId#2582, rating#2583, timestamp#2584, ratingStr#2585, 19261 AS katainewtimestamp#2622]
+- *(1) Filter AtLeastNNulls(n, userId#2581,movieId#2582,rating#2583,timestamp#2584,ratingStr#2585)
   +- FileScan csv [userId#2581,movieId#2582,rating#2583,timestamp#2584,ratingStr#2585] Batched: false, DataFilters: [AtLeastNNulls(n, userId#2581,movieId#2582,rating#2583,timestamp#2584,ratingStr#2585)], Format: CSV, Location: InMemoryFileIndex[file:/C:/Users/W10/Desktop/sparkTxt/rating2.csv], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<userId:string,movieId:string,rating:string,timestamp:string,ratingStr:string>